<div class="form-group" id="datepicker" style="position:relative;">
    <label class="has-error" style="width:12px;"><img class="hidden" src='/static/images/error.png'  style="width:12px;height:12px;" id="scheduledFlightDateError"/></label>
    <label for="carrier">Date:</label>
    <input type="text" name="scheduledFlightDate" id="scheduledFlightDate" class="form-control" style="width: 104px;">
</div>
<div class="form-group" style="margin-right:4px;">
    <label class="has-error" style="width:12px;"><img class="hidden" src='/static/images/error.png'  style="width:12px;height:12px;" id="originError"/></label>
    <label for="origin">From:</label>
    <input type="text" name="origin" class="form-control" style="width: 56px;" id="origin" value="">
</div>
<div class="form-group" style="margin-right:4px;">
    <label class="has-error" style="width:12px;"><img class="hidden" src='/static/images/error.png'  style="width:12px;height:12px;" id="destinationError"/></label>
    <label for="destination">To:</label>
    <input type="text" name="destination" class="form-control" style="width: 56px;" id="destination" value="">
</div>