/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2017, 12:22:33 PM
    Author     : siddharth.saraf
*/

@font-face {
    font-family: 'DroidSansFallback';
    src: url('/static/fonts/DroidSansFallback.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{ 
    padding-top:8px; 
}

p{
    font-family: "DroidSansFallback", Tahoma, Verdana, Segoe, sans-serif;
    font-weight: normal;
    font-size: 11px;
}
.subtitle {
    font-family: "DroidSansFallback", Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

input[type="text"]
{
    font-size:13px;
    height: 20px;
}

.form-control{
    height: 28px;
    font-size: 11px;
}

input[type="text"]{
    border-radius: 0px !important;
    background: #ffffcc !important;
    font-size: 11px;
}

input:disabled{
    background: #f3f3f2 !important;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding : 4px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/*tr:nth-child(even) {background: #CCC}*/
table.jsms-table tr:nth-child(odd) {background: #ECE4D4}

table.jsms-table {
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
}
table.jsms-table tr th {
    font-family: "DroidSansFallback", Tahoma, Verdana, Segoe, sans-serif;
    border: 1px solid gray;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 11px;
    background-color: #E6D9C6;
    white-space: nowrap;
    height: 36px;
    padding-left: 2px;
    margin-right: 4px;
}

label {
    font-family: "DroidSansFallback", Tahoma, Verdana, Segoe, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

table.jsms-table tr td {
    font-family: "DroidSansFallback", Tahoma, Verdana, Segoe, sans-serif;
    border: 1px solid gray;
    border-collapse: collapse;
    font-weight: normal;
    font-size: 11px;
    white-space: nowrap;
    height: 1%;
    padding-left: 2px;
}

.fit
{
    white-space: nowrap;
    width: 1px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold;
    font-size: 11px;
    border: 1px solid black;
    color: black;
    background: #CFE9FE;
    outline : none;
    border-radius: 4px;
}

.btn {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold;
    font-size: 11px;
    border: 1px solid #CFE9FE;
    color: black;
    background: #CFE9FE;
    outline : none;
    border-radius: 4px;
}

#commitSeatType {
    font-family: "DroidSansFallback", Tahoma, Verdana, Segoe, sans-serif;
    font-weight: normal;
    font-size: 11px;
    white-space: nowrap;
    border-radius: 0px;
}

.bg-info {
    background: #EBEBFF;
}
.bg-warning {
    background: #FBF7EB;
}

.bottomDiv {
    margin-bottom: 4px;
}

/*
* DIALOG CSS
*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
}

.modalDialog > div {
    width: 650px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
}

.loader-class {
    width: 100px !important;
    margin: 25% auto !important;
}

#okDailogButton {
    z-index: 99999999;
}

/*
    Bootstrap Date Picker CSS
*/

.datepicker { 
    background: #FBF7EB;
}

.datepicker td, .datepicker th {
    font-size: 11px;
    font-weight: bold;
}
.datepicker .datepicker-days .table-condensed tr td, .datepicker .datepicker-days .table-condensed tr th{
    border-radius: 0px !important;
}

.datepicker .datepicker-days .table-condensed tr td.active{
  background-color: orange !important;  
  color: black;
}

.datepicker .datepicker-days .table-condensed tr td.today{
    background: none  !important;
    border : 1px solid black;
    color: black;
}

.table-condensed {
    border: none;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 2px;
}

.datepicker .datepicker-days .table-condensed tr td:hover,
.datepicker .datepicker-days .table-condensed tr td.focused,
.datepicker .datepicker-days .table-condensed tr td:focus{
  background-color: orange !important;    
}