<div id="errorModal" class="modalDialog">
    <div class="text-center loader-class bg-warning row" style="width:400px !important;">
        <br/>
        <div class="col-sm-12">
            <table style="width : 100%;">
                <tr>
                    <td style="width:80px;"><img src="/static/images/error_1.png" style="padding: 4px;width: 60px;height:60px;"/></td>
                    <td><p id="popupErrorText" style="font-size : 14px;"></p></td>
                </tr>
                <tr>
                    <td colspan="2"><p class="text-center"><input type="button" id="errorPopUpButton" class="btn btn-info" onclick="closeDialog('errorModal');" value="Close"/></p></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="warningModal" class="modalDialog">
    <div class="text-center loader-class bg-warning row" style="width:400px !important;">
        <br/>
        <div class="col-sm-12">
            <table style="width : 100%;">
                <tr>
                    <td style="width:80px;"><img src="/static/images/warning.png" style="padding: 4px;width: 64px;height:60px;"/></td>
                    <td><p id="popupWarningText" style="font-size : 14px;"></p></td>
                </tr>
                <tr>
                    <td colspan="2"><p class="text-center"><input type="button" id="warningPopUpButton" class="btn btn-info" onclick="closeDialog('warningModal');" value="Close"/></p></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="doneModal" class="modalDialog">
    <div class="text-center loader-class bg-warning row" style="width:400px !important;">
        <br/>
        <div class="col-sm-12">
            <table style="width : 100%;">
                <tr>
                    <td style="width:80px;"><img src="/static/images/checked.png" style="padding: 4px;width: 64px;height:60px;"/></td>
                    <td><p id="popupSuccessText" style="font-size : 14px;"></p></td>
                </tr>
                <tr>
                    <td colspan="2"><p class="text-center"><input type="button" id="donePopUpButton" class="btn btn-info" onclick="closeCommentDoneDialog('doneModal');" value="Close"/></p></td>
                </tr>
            </table>
        </div>
    </div>
</div>