<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap_3.1.1.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/static/css/style.css"> <!-- load bootstrap css -->
    <script src="/static/js/lib/jquery-3.1.0.min.js"></script>
    <script src="/static/js/lib/bootstrap-datepicker.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/CRW-api.js"></script>
    <script src="/static/js/index-helper.js"></script>
    <script src="/static/js/component-utils.js"></script>
    <style>
        th.fit {
            height : 24px;
        }
    </style>
    <script>
        var isFromWeb = <%= fromWeb %>;
        $(function () {
            if (isCRWIntialize() || isFromWeb) {
                runGetUsername();
                runGetFullLocation();
                preFillSearchBox();

                $(document).on('focus', ':input', function () {
                    $(this).attr('autocomplete', 'off');
                });

                $('#searchFlightForm').submit(function () {
                    $('#scheduledFlightDateError').addClass('hidden');
                    $('#originError').addClass('hidden');
                    $('#destinationError').addClass('hidden');
                    var isError = false;
                    if (isEmpty($('#scheduledFlightDate').val())) {
                        $('#scheduledFlightDateError').removeClass('hidden');
                        isError = true;
                    }
                    if (isEmpty($('#origin').val())) {
                        $('#originError').removeClass('hidden');
                        isError = true;
                    }
                    if (isEmpty($('#destination').val())) {
                        $('#destinationError').removeClass('hidden');
                        isError = true;
                    }
                    if (!isError) {
                        searchFlights(this, isFromWeb);
                    }
                    return false;
                });
            } else {
                $('#searchFlightMainDiv').addClass("hidden");
                $('#errorText').text("You are not authorized to access this page");
                $('#errorContainer').removeClass("hidden");
            }
        });
    </script>
</head>
<body class="container bg-warning">
<div id="loaderModal" class="modalDialog">
    <div class="text-center loader-class">
        <img src="/static/images/ajax-loader.gif"/>
    </div>
</div>
<div id="searchFlightMainDiv">
    <input type="hidden" value="" id="CMUsername"/>
    <input type="hidden" value="" id="fullLocation"/>
    <div class="vcenter bg-warning">SELECT FLIGHT FOR COMPAYN ADMIN</div><br/>
    <div id="searchFlightBox" style="border: 1px solid silver;padding: 4px;">
        <div class="row">
            <div class="col-sm-12">
                <p class="subtitle">Search Flight</p>
            </div>
            <div class="col-sm-12" id="searchFlightBox">
                <form class="form-inline" id="searchFlightForm">
                    <%- include('../../common-views/flight-info-form')%>
                    <div class="form-group col-sm-12" style="margin : 2px;">
                        <button type="submit" class="btn btn-default pull-right defaultFocusButton">Display</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div id="flightListBox" style="border: 1px solid silver;padding: 4px;display: none;">
        <div class="row">
            <div class="col-sm-12">
                <p class="subtitle">Search Flight</p>
            </div>
            <div class="col-sm-12" id="flightListDiv">
                <table class="jsms-table" id="flightListTable">
                    <thead>
                    <tr>
                        <th class="fit">Flight Number</th>
                        <th class="fit">From - To</th>
                        <th class="fit">Time</th>
                        <th class="fit">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('common')%>
</div>
<div id="errorContainer" class="hidden">
    <div class="bg-danger" style="padding : 4px;"><p class="text-center" style="font-size : 14px;" id="errorText"></p></div>
</div><br/><br/>
</body>
</html>